<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
<title>Insert title here</title>
</head>
<body>
	<h1 th:text="${msg}"></h1>
</body>
</html>