<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
<title>Customer Creation Page</title>
</head>
<script type="text/javascript" src="../static/js/jquery-2.1.4.min.js"
	th:src="@{/js/jquery-2.1.4.min.js}"></script>
<script type="text/javascript">
	$(document).ready(
			function() {

				$("#newAddress")
						.click(
								function() {
									
									var addressTemp = $("#addressList").find("tr")[0].outerHTML;

									addressTemp = addressTemp.replace(/0/g, $(
											"#addressList").find("tr").size());

									$("#addressList").append(addressTemp);

									$("#addressList tr:last").find("input").val("");
									
									$("#addressList tr:last").find("textarea").val("");
									
									$("#addressList tr:last").find("select").removeAttr("selected");
									
									return false;

								});

			});
	
	function deleteAddress(element) {

		if($("#addressList").find("tr").size()>2){
			element.closest("td").parent("tr").remove();
		}else{
			$("#msg2").text("There should be atleast 2 address...");
		}
		
		
		
		return false;

	}
</script>
<body>
	<h1 th:text="${msg}"></h1>

	<span th:text="${msg2}" id="msg2" style="color: red"></span>
	<br />


	<form action="/saveCustomer" th:object="${customer}" method="post">

		First Name : <input type="text" th:field="${customer.firstName}"
			placeholder="Enter First Name" maxlength="20" /> <br />
		<br /> Last Name : <input type="text" th:field="${customer.lastName}"
			placeholder="Enter Last Name" maxlength="20" /> <br />
		<br />

		<span th:if="${customer.id!=null}">
			<input type="hidden" th:field="${customer.id}"
			 maxlength="20" />
		</span>
		<table>
			<thead>
				<tr>
					<th>Address</th>
					<th>City</th>
					<th>State</th>
					<th>Zip</th>
					<th></th>
					<th><button id="newAddress">Add New Address</button></th>
				</tr>
			</thead>
			<tbody id="addressList">
				<!-- <tr">
					<td>ads<textarea th:field="*{listOfAddress[__0__].addressLine}"></textarea></td>
					<td><select th:field="*{listOfAddress[__0__].city}">
							<option th:each="city : ${cityList}" th:value="${city.cityId}"
								th:text="${city.cityName}"></option>
					</select></td>
					<td><input type="text"
						th:field="*{listOfAddress[__0__].state}" /></td>
					<td><input type="number"
						th:field="*{listOfAddress[__0__].zip}" maxlength="7" /></td>
					<td></td>
					<td><button onclick="return deleteAddress($(this))">Delete</button></td>
				</tr>
				<tr th:if="${customer.listOfAddress ==null}">
					<td>afd<textarea th:field="*{listOfAddress[__1__].addressLine}"></textarea></td>
					<td><select th:field="*{listOfAddress[__1__].city}">
							<option th:each="city : ${cityList}" th:value="${city.cityId}"
								th:text="${city.cityName}"></option>
					</select></td>
					<td><input type="text"
						th:field="*{listOfAddress[__1__].state}" /></td>
					<td><input type="number"
						th:field="*{listOfAddress[__1__].zip}" maxlength="7" /></td>
					<td></td>
					<td><button onclick="return deleteAddress($(this))">Delete</button></td>
				</tr> -->
			<!-- </tbody>
			<tbody  id="addressList"> -->
				<tr th:each="address,count : ${customer.listOfAddress}">
					<td><textarea th:field="*{listOfAddress[__${count.index}__].addressLine}"></textarea></td>
					<td><select th:field="*{listOfAddress[__${count.index}__].city}">
							<option th:each="city : ${cityList}" th:value="${city.cityId}"
								th:text="${city.cityName}"></option>
					</select></td>
					<td><input type="text"
						th:field="*{listOfAddress[__${count.index}__].state}" /></td>
					<td><input type="number"
						th:field="*{listOfAddress[__${count.index}__].zip}" maxlength="7" /></td>
					<td></td>
					<td><button th:onclick="'return deleteAddress($(this),'+${count.index}+')'">Delete</button></td>
					<!-- <button th:if="${count.index !=0 and count.index !=1}" th:onclick="'return deleteAddress($(this),'+${count.index}+')'">Delete</button> -->
				</tr>
			</tbody>
		</table>

		<button>Submit Details</button>
	</form>

	<a href="/customerList">List Of Customer</a>
</body>
</html>